.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
}

.search-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 575px;
  /* max-width: 600px; */
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.launches-container {
  width: 100%;
  max-width: 600px;
}

.launch {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 4px;
}

.image-placeholder {
  width: 64px;
  height: 64px;
  background: #ececec;
  margin-right: 20px;
}

.launch-details h2 {
  font-size: 18px;
  margin: 0 0 5px 0;
}

.launch-details p {
  font-size: 14px;
  margin: 0;
}

.launch-image {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}

.launch-details {
  margin-left: 15px
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #000;
  width: 50px;
  height: 50px;
  animation: spin 4s linear infinite;
}

